{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="table-dark">Type</th>
                <th scope="col" class="table-dark">Symbol</th>
                <th scope="col" class="table-dark">Shares</th>
                <th scope="col" class="table-dark">Price</th>
                <th scope="col" class="table-dark">Time</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.price | usd }}</td>
                    <td>{{ transaction.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
