{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="table-dark">Name</th>
                <th scope="col" class="table-dark">Symbol</th>
                <th scope="col" class="table-dark">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ stock.name }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.price | usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
